.circle {
  border: 2px solid #eadeb6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
}

.text {
  margin: auto;
}
